
:root {
  --primary-color: #007B84;
  --secondary-color: #00565C;
}

body {
  color: var(--secondary-color);
}

.card {
  padding: 20px 0px;
  border: 4px black solid;
  border-radius: 10px;
  background-color: #ECF4E5;
}

	


/* Input Section */

.card-title {
  font-size: 24px;
  padding: 20px 0px;
  font-weight: 600;
}





/* Mobile view  */
@media only screen and (max-width: 600px) {

  body {
    display: relative;
    overflow: hidden;
  }

  .card-group {
    padding: 0;
  }

  .card {
    border: none;
    border-radius: 0;
    padding: 0;
  }

  .card-title {
    line-height: 40px;
  }

  .card-body {
    padding: 0;
  }

  .resultSection {
    position: fixed;
    top: 0;
    padding: 10px 0px;
    text-align: center;
  }

  .inputSection {
    margin-top: 60%;
  }

  
}